<mat-card [class.completed]="task().status === 'Concluída'">
  <mat-card-content>
    <div class="task-content">
      <mat-checkbox [checked]="task().status === 'Concluída'" (change)="toggle.emit()">
      </mat-checkbox>
      <div class="task-info">
        <span class="title"> {{ task().title }} </span>
        <div class="tags">
          <mat-chip [class]="task().priority.toLoweCase()">
            {{ task().priority }}
          </mat-chip>
        </div>
      </div>

      <button mat-icon-button color="warn" (click)="delete.emit()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
